<span
    class="inline-flex items-center gap-2 bg-green-900 text-green-300 text-xs font-mono font-medium me-2 px-2.5 py-0.5 rounded"
>
    <span class="relative flex size-2 shrink-0">
        <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-emerald-200 opacity-75"></span>
        <span class="relative inline-flex size-2 rounded-full bg-emerald-200"></span>
    </span>
    <slot />
</span>