<header class="fixed top-0 left-0 right-0 z-[999] bg-neutral-950/20 backdrop-blur-md border-b border-white/5">
  <div class="flex justify-between items-center py-3 px-5 sm:px-8 w-full max-w-[1120px] mx-auto">
    <img
      src="/assets/p_shadow.png"
      alt="pabgaru icon"
      class="rounded-full w-auto h-12 shrink-0"
    />

    <nav class="hidden md:flex gap-x-10">
      <a href="#top">Home</a>
      <a href="#experience">Experience</a>
      <a href="#projects">Projects</a>
      <a href="#about-me">About me</a>
      <a href="#contact">Contact</a>
    </nav>

    <button
      id="menu-button"
      class="md:hidden text-white text-3xl"
      aria-label="Toggle menu"
    >
      ☰
    </button>
  </div>
</header>