<!-- <a class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4 bg-white/5 hover:scale-110 hover:bg-white/10 transition"
{...Astro.props}
target="_blank"
rel="noopener noreferrer"
>
    <slot />
</a> -->

<a
  class="rounded-full border border-[#7877c6]/20 flex justify-center items-center text-sm lg:text-base gap-x-2 py-1.5 px-3 lg:py-2 lg:px-4 bg-[#7877c6]/10 hover:scale-110 hover:bg-[#7877c6]/15 transition"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>