---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
// Fonts
import '@fontsource-variable/onest'; // Supports weights 100-900
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="//assets/p_favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio of Pablo García Ruiz</title>
	</head>
	<body>
		<div class="fixed inset-0 z-[-2] min-h-dvh w-full bg-neutral-950 bg-[radial-gradient(ellipse_90%_60%_at_50%_0%,rgba(120,119,198,0.35),rgba(255,255,255,0))]"></div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>

	:root{
		color-scheme: dark;
	}

	html{
		font-family: 'Onest Variable', sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background: #0a0a0a;
		display: flex;
		flex-direction: column;
		min-height: 100dvh;
		overflow-x: hidden;
	}

	@media {prefers-reduced-motion: reduce} {
		html {
			scroll-behavior: auto;
		}
	}
</style>
